
@{
    Layout = null;
}
<br />
<br />
<br />

<form method="get" action="@Url.Action("CarList2", "Car")">
    <div class="ftco-blocks-cover-1">
        <div class="ftco-cover-1 overlay" style="background-image: url('/Carrent-master/images/hero_1.jpg')">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="feature-car-rent-box-1">
                            <h3>Range Rover S7</h3>
                            <ul class="list-unstyled">
                                <li>
                                    <label>Kapasite</label>
                                    <select name="capacity" class="form-control" style="border:2px solid #2222">
                                        @for (int i = 1; i <= 10; i++)
                                        {
                                            
                                            <option value="@i">@i</option>
                                           

                                        }
                                    </select>
                                    <br />
                                </li>
                                <li>
                                    <label>Vites</label>
                                    <select class="form-control" style="border:2px solid #2222" name="gearType">
                                        <option value="Otomatik">Otomatik</option>
                                        <option value="Yarı Otomatik">Yarı Otomatik</option>
                                        <option value="Manuel">Manuel</option>

                                    </select>
                                    <br />
                                </li>
                                <li>
                                    <label>Kategori</label>
                                    <select name="categoryId" class="form-control" style="border:2px solid #2222">
                                        @foreach (var item in ViewBag.d)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                    <br />
                                </li>
                                
                                <li>
                                    <label>Marka</label>
                                    <select name="brandId" class="form-control" style="border:2px solid #2222">
                                        @foreach (var item in ViewBag.v)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                    <br />
                                </li>
                            </ul>
                            <div class="d-flex align-items-center bg-light p-3">
                                <button type="submit" class="btn btn-success">Filtrele</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
