
@{
    Layout = null;
}
<br />
<br />
<br />

<form method="get" action="@Url.Action("CarList2", "Car")">
    <div class="ftco-blocks-cover-1">
         <div class="ftco-cover-1 overlay" style="background-image: url('/Carrent-master/images/hero_6.jpg')">
              @*  <div class="ftco-cover-1 overlay" style="background-image: url(https://www.getirarac.com/Upload/CmsBanner/Image/11523_dakikalik_2846x125_TR-min_ee4cf1.jpg)">
       <img src="C:\Users\ossma\Downloads\M&Y Araç İle Tüm.jpg" /> *@ 
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="feature-car-rent-box-1">
                            <h3 style="color:#5D3EBC">Hemen Kirala</h3>
                            <ul class="list-unstyled">
                                <li>
                                    <label style="color:#5D3EBC">Kapasite</label>
                                    <select name="capacity" class="form-control" style="border:2px solid #2222;color:#5D3EBC">
                                        @for (int i = 1; i <= 10; i++)
                                        {

                                            <option value="@i" style="color:#5D3EBC">@i</option>
                                           

                                        }
                                    </select>
                                </li>
                                <li>
                                    <label style="color:#5D3EBC">Vites</label>
                                    <select class="form-control" style="border:2px solid #2222;color:#5D3EBC" name="gearType">
                                        <option value="Otomatik" style="color:#5D3EBC">Otomatik</option>
                                        <option value="Yarı Otomatik" style="color:#5D3EBC">Yarı Otomatik</option>
                                        <option value="Manuel" style="color:#5D3EBC">Manuel</option>

                                    </select>
                                 
                                </li>
                                <li>
                                    <label style="color:#5D3EBC">Kategori</label>
                                    <select name="categoryId" class="form-control" style="border:2px solid #2222;color:#5D3EBC">
                                        @foreach (var item in ViewBag.d)
                                        {
                                            <option value="@item.Value" style="color:#5D3EBC">@item.Text</option>
                                        }
                                    </select>
                                
                                </li>
                                
                                <li>
                                    <label style="color:#5D3EBC">Marka</label>
                                    <select name="brandId" class="form-control" style="border:2px solid #2222;color:#5D3EBC">
                                        @foreach (var item in ViewBag.v)
                                        {
                                            <option value="@item.Value" style="color:#5D3EBC">@item.Text</option>
                                        }
                                    </select>
                             
                                </li>
                            </ul>
                         @*    <div class="d-flex align-items-center bg-light p-3"> *@
                            <button type="submit" class="btn btn-success" style="text-align;background-color:#5D3EBC;color:white">Listele</button>
@*                             </div>
 *@                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
