@model List<MyAcademyCarBook.EntityLayer.Concrete.CarDetails>

@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Araç Detay Listesi</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Araç</th>
        <th>Yazar</th>
        <th>Açıklama</th>
        <th>Oluşturulma Tarihi</th>

        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {



        <tr>
            <td>@item.CarDetailsID</td>
            <td>@item.CarID</td>
            <td>@item.AppUserID</td>
            <td>
                @{
                    var description = item.Description.Length > 300 ? item.Description.Substring(0, 100) + "..." : item.Description;
                    <text>@description</text>
                }
            </td>
            <td>@item.CreatedDate</td>
            <td><a href="/CarDetail/DeleteCarDetail/@item.CarDetailsID" class="btn btn-danger">Sil</a></td>
            <td><a href="/CarDetail/UpdateCarDetail/@item.CarDetailsID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>
<a href="/CarDetail/AddCarDetail" class="btn btn-primary">Yeni Detay Girişi</a>

